<app-navbar></app-navbar>
<section id="hero" class="d-flex align-items-center" style="font-family: 'Patrick Hand', cursive;">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200"
    style="font-family: 'Patrick Hand', cursive;">
    <h1 style="font-family: 'Patrick Hand', cursive;">Covid Tracker</h1>
    <h3 style="color:aqua">A New medical dictation</h3>
    <h2>Covid Tracker® is a physician startup specialist, providing a wide array of accelerated turnkey services.</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section>
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <h3 style="font-size: 24px;"> Covid Tracker® .</h3>
          <h4 style="font-size: 18px;">Is one of the country's leading Health Care software and
            services providers.</h4>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
          <h5 style=" font-size: 16px;">
           Covid tracker® creates value for physicians and hospitals through scalable solutions that help
            facilities improve patient care and maximize reimbursement. <br> 
            From our Medical billing and coding services to
            our proprietary transcription and practice management software.<br>
            Covid tracker®, is a valuable resource to any
            healthcare organization.
          </h5>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
          <div class="content">
            <h3>Covid Tracker</h3>
            <p>
              The covid tracker encourages all our members to use our site .The greater the number of app users, the
              more effective the contact tracing effort will become.
            </p>
            <div class="text-center">
              <a href="" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Contact Tracing</h4>
                  <p>Help contact tracing, protecting your privacy
                    Stay safe, protect each other.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Check-in & Updates</h4>
                  <p>Check your symptoms once updated. Keep up to date on the fight against Covid-19. </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Easy to use</h4>
                  <p>Digital tool to help you assess and self report your symptoms for COVID-19.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

      <div class="text-center" data-aos="zoom-in" style="font-family: 'Patrick Hand', cursive;">
        <h3 style="font-family: 'Patrick Hand', cursive;">Incase of Emergency</h3>
        <p>Incase of any information on a person in contact dial in on to our 24/7 FREE HOTLINE</p>
        <a class="cta-btn" href="#">Dial in</a>
      </div>

    </div>
  </section>
  <!-- End Cta Section -->



</main>
<app-footer></app-footer>
