<!-- <div class="container-fluid">
    <h2 class="text-center">Please fill the user you came into contact</h2>
   
    <form (ngSubmit)='submitTrace()' #tracingForm='ngForm' >
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newTracing.name" name="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>
        <br>
        <div class="form-group">
  
            <label for="contact">Contact</label>
            <input class="form-control" type="number" id="contact" name="contact" [(ngModel)]="newTracing.contact" #description="ngModel" required>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>Contact is required</p>
            </div>
  
        </div>
        <br>
        <div class="form-group">
            <label for="complete">Date you came in contact</label>
            <input type='date' id="complete" [(ngModel)]="newTracing.date" #date="ngModel" required>
            <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                <p>Date is required</p>
            </div>
  
        </div>
        <button type="submit" class="btn btn-success">Add contact</button>
    </form>
  </div> -->




  


  