<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Chela+One&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-info bg-info fixed-top" style="font-family: 'Chela One', cursive;">
  <img src="https://img.icons8.com/ios-filled/45/000000/rod-of-asclepius.png"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive='active' routerLink="/home" style="color: black; font-size: 20pt;">Covid Tracker</a>
      <!-- <a class="nav-item nav-link" routerLink="/home" style="color: black">Home</a> -->
      <!-- <a class="nav-item nav-link" routerLink="/doctor" style="color: black">Doctors Dashboard</a> -->

      
    </div>
      <ul class="navbar-nav ml-auto nav-flex-icons">
      
        <a class="dropdown-item" routerLink="signin" >SignIn</a>
        <a class="dropdown-item" routerLink="signup" >SingUp</a>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                  aria-labelledby="navbarDropdownMenuLink-333">
                  <!-- <a class="dropdown-item" routerLink="/patientinput" >Pat Input</a> -->
                  <a class="dropdown-item" routerLink="/results" >Results</a>
                  <!-- <a class="dropdown-item" routerLink="/doccomponent" >Doc Component</a> -->
                  <a class="dropdown-item" routerLink="/googlemaps" >map</a>
                  <a class="dropdown-item" class="nav-link" (click)="signOut()">Logout</a>
              </div>
          </li>
      </ul>
</div>
 
</nav>
<!--Navbar-->
